* {
}
.body {
    padding-top: 100px;
    background-image: url("./images/code_blurred_bw.png");
}

.container {
  padding-bottom: 0px;
}

.navbar {
  height: 100px;
}

.my-navbar {
  /* background-color: #1e66bc; */
  /* background-color: #3276ce; */
  background-color: #290567;
  color: white;
}

#my-nav-name {
  padding: 5px 10px 7px 10px;
  border-color: red;
}

#navbarNav a:link,
#navbarNav a:visited {
  color: #ccc;
  font-weight: normal;
  text-decoration: none;
}

#navbarNav a:hover,
#navbarNav a:active {
  color: white;
  text-decoration: none;
}

.jumbotron {
  /* border-bottom: 2px red solid; */
}

.my-jumbotron {
  background-color: #290567;
  color: white;
  text-align: center;
  padding: 25px 0 20px 0;
  /* height: 250px; */
  min-height: 250px;
  margin-top: 95px;
  margin-bottom: 0px;
  /* border-bottom: 2px red solid; */
}

/* h1 {
  color: red;
} */

.my-content h3 {
  color: #290567;
}

.carousel {
  padding-top: 20px;
}

.my-content {
  padding-bottom: 50px;
  padding-top: 20px;
}

.my-jumbotron a:link, a:visited {
  color: #ccc;
  font-weight: normal;

}

.my-jumbotron a:hover, a:active {
  color: white;
}

.my-container a:link,
.my-container a:visited {
  color: #290567;
  font-weight: normal;
  text-decoration: none;
}

.my-container a:hover,
.my-container a:active {
  color: #290567;
  text-decoration: underline;
}

input {
  width: 100%;
  padding: 5px;
}

.input-message {
  height: 200px;
}

.button {
  width: 100px;
}

.my-footer {
  text-align: center;
  height: 40px;
  padding: auto;
  background-color: #290567;
  color: white;
  display: inline-block;
  float: none;
  font-weight: lighter;
}