* {
}
.body {
    padding-top: 100px;
    /* background-image: url("./images/code_blurred_bw.png"); */
}

.container {
  padding-bottom: 0px;
}

.navbar {
  height: 100px;
}

.my-navbar {
  background-color: #290567;
  color: white;
}

#my-nav-name {
  padding: 5px 10px 7px 10px;
}

#navbarNav a:link,
#navbarNav a:visited {
  color: #ccc;
  font-weight: normal;
  text-decoration: none;
}

#navbarNav a:hover,
#navbarNav a:active {
  color: white;
  text-decoration: none;
}

.jumbotron {
  
}

.my-jumbotron {
  background-color: #290567;
  color: white;
  text-align: center;
  padding: 25px 0 20px 0;
  /* height: 250px; */
  min-height: 250px;
  margin-top: 95px;
  margin-bottom: 0px;
  /* border-bottom: 2px red solid; */
}

/* h1 {
  color: red;
} */

.my-content h3 {
  color: #290567;
}

.carousel {
  padding-top: 20px;
}

.my-content {
  padding-bottom: 50px;
  padding-top: 20px;
}

.my-jumbotron a:link, a:visited {
  color: #ccc;
  font-weight: normal;

}

.my-jumbotron a:hover, a:active {
  color: white;
}

.my-container a:link,
.my-container a:visited {
  color: #290567;
  font-weight: normal;
  text-decoration: none;
}

.my-container a:hover,
.my-container a:active {
  color: #290567;
  text-decoration: underline;
}

.work {
  position: relative;
  float: left;
  width: 250px; /* 274px */
  margin: 20px 20px 25px 20px;
  overflow: auto;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
  object-fit: cover;
  object-position: 0% 0;
  width: 250px;
  height: 200px;
}

.work p {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: #290567;
  border-bottom: 0;
}

input {
  width: 100%;
  padding: 5px;
}

.input-message {
  height: 200px;
}

.button {
  width: 100px;
}

.my-footer {
  text-align: center;
  height: 40px;
  padding: auto;
  background-color: #290567;
  color: white;
  display: inline-block;
  float: none;
  font-weight: lighter;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}